NEXT_PUBLIC_SUPABASE_URL=https://tsklsdnfcezepkpgxdis.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRza2xzZG5mY2V6ZXBrcGd4ZGlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMjExNTksImV4cCI6MjA5Mzg5NzE1OX0.ZAIe4sPuTmUYlfk9aPgiQKKtRDzjIImBVqtWVrLdy3E

SUPABASE_SERVICE_ROLE_KEY=eyJhbGcxxxxx........   # uniquement côté serveur Vercel

NEXT_PUBLIC_CONTRACT_ADDRESS=0x8E643C6bEEAa8E19a108a74B3A266cE4De9daDC4

DEPLOYER_PRIVATE_KEY=0x_VOTRE_CLE_PRIVEE_ICI